/*Fonte*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/*Padronização*/
body {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  background-color: var(--cor-branca);
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.container{
  width: 85%;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.spinner{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
